xformers==0.0.16
omegaconf
einops
safetensors
diffusers==0.11.1
transformers==4.30.2
scipy
ftfy
accelerate
pyyaml
python-dateutil
pillow-avif-plugin
moviepy
opencv-python
jupyter
notebook
tornado>=6.0.0
jupyter_http_over_ws
jedi==0.17.2
ipywidgets==7.7.1
